[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "neatR"]
	path = neatR
	url = https://github.com/dswithai/neatr
	shallow = true
	registered = true
